html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content="Resilience Fitness - New York, NY")
        meta(name='author', content='Chris Riewaldt')
		
        title Chandler Bass Tattoo | Charleston, SC
        
        link(rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png")
        link(rel="manifest" href="/site.webmanifest")
        
        //script(src="https://use.fontawesome.com/fa83ed19c7.js")
        
        script(src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous")

        
        link(href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet")
		
        //include customfonts.html
        
        // Theme CSS
        link(href='css/greyscale.css', rel='stylesheet')
        
        
        // contact form
        <link rel="stylesheet" type="text/css" href="contactform/css/main.css">
        
        
    
        